@model IEnumerable<LayoutValidation.Models.Empleado>

@{
    ViewBag.Title = "Index";


}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>

    </tr>
}

</table>
